<!-- new html -->
<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>

    <body>
        <header>
            <%- include('componentes/navBar.ejs'); %>

        </header>
        <section class="container marketing">
            <div class="container marketing">
                <div class="indice">
                    <a href="index.html">INICIO&nbsp;</a>
                    <a>/</a>
                    <a href="convocatorias.html">&nbsp;CONVOCATORIA</a>
                    <a>/</a>
                    <a href="#">&nbsp;CAS - Proceso</a>
                </div>
            </div>
        </section>
        <!-- /new espacio -->
        <main class="container">
            <h2 class="pb-2 border-bottom">&nbsp;</h2>
            <br>
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Bases</th>
                            <th scope="col">Anexos</th>
                            <th scope="col">R. Preliminares</th>
                            <th scope="col">R. Final</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <br>
        <br>
        <!-- /new espacio -->


        <!-- SOCIAL BAR -->

        <%- include('componentes/social_bar.ejs'); %>
            <!-- END SOCIA BAR -->

            <!-- /STAR  -->

            <%- include('componentes/footer.ejs'); %>

                <!-- /END -->
                <!-- /STAR  -->

                <%- include('componentes/script.ejs'); %>

                    <!-- /END -->
    </body>

</html>
<!-- /end new html -->
