<!-- /star -->
<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>

    <body>
        <header>
            <%- include('componentes/navBar.ejs'); %>

        </header>
        <section class="container marketing">
            <div class="indice">
                <a href="index.html">INICIO&nbsp;</a>
                <a>/</a>
                <a href="#">&nbsp;CODISEC</a>
            </div>
        </section>
        <section class="container marketing">
            <h2 class="pb-2 border-bottom">&nbsp;</h2>
            <div class="container marketing">
                <div class="container col-xxl-10 px-5 py-5">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                        <div class="col-10 col-sm-8 col-lg-6">
                            <img src="img/codisec.jpg" class="d-block mx-lg-auto img-fluid" alt="hemes" width="700"
                                height="500" loading="lazy">
                        </div>
                        <div class="col-lg-6">
                            <div class="block-title underline">CODISEC</div>
                            <p class="lead">Es una instancia de diálogo, coordinación y elaboración de políticas, programas, directivas y actividades vinculadas a la seguridad ciudadana, en el ámbito distrital. Articula las relaciones entre las diversas entidades del sector público y el sector privado que forman parte del SINASEC a nivel distrital. Cuenta con una secretaría técnica. (Art. 26 Ley del Sistema Nacional de Seguridad Ciudadana -DS N° 011-2014-IN REGLAMENTO DE LEY 27933).</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SOCIAL BAR -->

        <%- include('componentes/social_bar.ejs'); %>
            <!-- END SOCIA BAR -->

            <!-- /STAR  -->

            <%- include('componentes/footer.ejs'); %>

                <!-- /END -->
                <!-- /STAR  -->

                <%- include('componentes/script.ejs'); %>

                    <!-- /END -->
    </body>

</html>


<!-- /end -->