<!-- /star -->
<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>

    <body>
        <header>
            <%- include('componentes/navBar.ejs'); %>

        </header>
        <br>
        <br>
        <br>
        <br>
        <section class="container marketing">
            <div class="indice">
                <a href="index.html">INICIO&nbsp;</a>
                <a>/</a>
                <a href="#">&nbsp;EMPRENDIMIENTO</a>
            </div>
        </section>
        <div class="container marketing">
            <h2 class="pb-2 border-bottom">&nbsp;</h2>
            <br>
            <h5 class="underline">Emprendimiento, elaboración de soluciones innovadoras para problemas sociales.</h5>
            <br>
            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">EMPRENDIMIENTO 1</h3>
                            <div class="mb-1 text-muted">.....</div>
                            <p class="card-text mb-auto">......</p>
                            <a href="#" class="stretched-link">Leer más</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="#" alt="" class="bd-placeholder-img img-rounded" width="200" height="250">

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">EMPRENDIMIENTO 2</h3>
                            <div class="mb-1 text-muted">.....</div>
                            <p class="mb-auto">....</p>
                            <a href="#" class="stretched-link">Leer más</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="#" alt="" class="bd-placeholder-img img-rounded" width="200" height="250">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">EMPRENDIMIENTO 3</h3>
                            <div class="mb-1 text-muted">......</div>
                            <p class="mb-auto">....</p>
                            <a href="#" class="stretched-link">Leer más</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="#" alt="" class="bd-placeholder-img img-rounded" width="200" height="250">

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">EMPRENDIMIENTO 4</h3>
                            <div class="mb-1 text-muted">......</div>
                            <p class="mb-auto">....</p>
                            <a href="#" class="stretched-link">Leer más</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="#" alt="" class="bd-placeholder-img img-rounded" width="200" height="250">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SOCIAL BAR -->

        <%- include('componentes/social_bar.ejs'); %>
            <!-- END SOCIA BAR -->

            <!-- /STAR  -->

            <%- include('componentes/footer.ejs'); %>

                <!-- /END -->
                <!-- /STAR  -->

                <%- include('componentes/script.ejs'); %>

                    <!-- /END -->
    </body>

</html>

<!-- /end -->