<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>

    <body>
        <header>

            <%- include('componentes/navBar.ejs'); %>

                <div id="myCarousel" class="carousel slide margin1" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./img/1.jpg" alt="" class="img-fluid" viewBox="0 0 118 94" role="img">

                            <div class="container">
                                <div class="carousel-caption text-start">
                                    <h1>Example headline.</h1>
                                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./img/2.jpg" alt="" class="img-fluid" viewBox="0 0 118 94" role="img">

                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Another example headline.</h1>
                                    <p>Some representative placeholder content for the second slide of the carousel.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./img/3.jpg" alt="" class="img-fluid" viewBox="0 0 118 94" role="img">

                            <div class="container">
                                <div class="carousel-caption text-end">
                                    <h1>One more for good measure.</h1>
                                    <p>Some representative placeholder content for the third slide of this carousel.</p>
                                    <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

        </header>
        <!-- /STAR iconos horizontal -->

        <%- include('componentes/icono_horizontal.ejs'); %>

            <!-- /END iconos horizontal -->
            <!-- START THE FEATURETTES -->
            <div class="container marketing">
                <div class="contenedor">
                    <h2 class="pb-2 border-bottom">&nbsp;</h2>
                    <section class="contenido-header">
                        <section class="textos-header">
                            <div class="block-title underline">BIENVENIDOS</div>
                            <p>Les damos la más cordial bienvenida a este espacio digital donde usted podrá encontrar
                                toda la información que necesita sobre nuestra institución.</p>
                            <br>
                            <p><strong> Wilber Barrientos Flores</strong></p>
                            <p></strong>Alcalde</strong></p>
                            <p></strong>Gestión 2019-2022</strong></p>
                            <a href="municipalidad.html"><button type="button" class="btn btn-outline-primary">Leer más
                                    <i class="fas fa-arrow-right" style="color: #007bff;"></i></button></a>
                        </section>
                        <img src="img/alcalde.jpg" alt="" data-aos="zoom-out-up" data-aos-duration="2000"
                            class="foto_alcalde">
                    </section>
                </div>
            </div>
            <!-- /END THE FEATURETTES -->
            <!-- /START THE NOTICIAS -->
            <div class="container marketing">
                <h2 class="pb-2 border-bottom">NOTICIAS</h2>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div
                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">Meta 5-PIM</h3>
                                <div class="mb-1 text-muted">15 Mayo</div>
                                <p class="card-text mb-auto">El Ministerio de Vivienda Construcción y Saneamiento, a
                                    través
                                    del centro de atención al
                                    ciudadano CAC- Ayacucho...</p>
                                <a href="noticia1.html" class="stretched-link">Leer más</a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="img/noticia1.jpg" alt="" class="bd-placeholder-img img-rounded" width="200"
                                    height="250">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div
                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">Feliz Aniversario</h3>
                                <div class="mb-1 text-muted">06 Julio</div>
                                <p class="mb-auto">La Municipalidad Distrital de San Pedro de Palco,creado por Ley N°
                                    15091del 08 de Julio de 1964
                                    durante el Gobierno de Fernando Belaunde Terry...</p>
                                <a href="noticia2.html" class="stretched-link">Leer más</a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="img/noticia2.jpg" alt="" class="bd-placeholder-img img-rounded" width="200"
                                    height="250">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div
                            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0">Seguimos trabajando</h3>
                                <div class="mb-1 text-muted">18 Julio</div>
                                <p class="mb-auto">El gobierno Local de la Municipalidad distrital de San Pedro de
                                    Palco,
                                    entrega bienes de ayuda
                                    humanitaria a nivel distrital...</p>
                                <a href="noticia3.html" class="stretched-link">Leer más</a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <img src="img/noticia3.jpg" alt="" class="bd-placeholder-img img-rounded" width="200"
                                    height="250">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /END THE NOTICIAS -->
            <!--/ STAR AGENDA CULTURAL-->
            <div class="contenedor">
                <h2 class="pb-2 border-bottom">&nbsp;</h2>
                <section class="contenido-header">
                    <section class="textos-header">
                        <div class="block-title underline">AGENDA CULTURAL</div>
                        <p>Talleres, capacitaciones, eventos y más para nuestra poblacion</p>
                        <br>
                        <a href="eventos.html"><button type="button" class="btn btn-outline-primary">Ver Evento<i
                                    class="fas fa-arrow-right" style="color: #007bff;"></i></button></a>
                    </section>
                    <img src="img/evento1.jpg" alt="" width="350" height="500">
                </section>
            </div>
            <!--/END AGENDA CULTURAL-->

            <!--/STAR NUMEROS UTILITARIOS-->

            <%- include('componentes/numeros_utilidad.ejs'); %>

                <!--/END NUMEROS UTILITARIOS-->

                <!--/STAR NUMEROS UTILITARIOS-->

                <%- include('componentes/numeros_tributarios.ejs'); %>

                    <!--/END NUMEROS UTILITARIOS-->

                    <!--/STAR SOCIAL BAR VERTICAL -->
                    <%- include('componentes/social_bar.ejs'); %>
                        <!--/END SOCIAL BAR VERTICAL -->

                        <!-- /STAR AREAS TEMATICAS -->
                        <div class="container album py-5 px-4" id="icon-grid">
                            <h2 class="pb-2 border-bottom">ÁREAS TEMATICAS SAN PEDRO DE PALCO</h2>
                            <div class="container">

                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            <img src="img/turismo.jpeg" alt="" width="100%" height="225">

                                            <div class="card-body">
                                                <h4 class="mb-0">Cultura y Turismo</h4>
                                                <br>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a href="#"><button type="button"
                                                                class="btn btn-outline-primary">Ver más <i
                                                                    class="fas fa-arrow-right"
                                                                    style="color: #007bff;"></i></button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            <img src="img/recursos.jpeg" alt="" width="100%" height="225">

                                            <div class="card-body">
                                                <h4 class="mb-0">Recursos Naturales</h4>
                                                <br>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a href="#"><button type="button"
                                                                class="btn btn-outline-primary">Ver más <i
                                                                    class="fas fa-arrow-right"
                                                                    style="color: #007bff;"></i></button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            <img src="img/agricultura.jpg" alt="" width="100%" height="225">

                                            <div class="card-body">
                                                <h4 class="mb-0">Agricultura</h4>
                                                <br>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a href="#"><button type="button"
                                                                class="btn btn-outline-primary">Ver más <i
                                                                    class="fas fa-arrow-right"
                                                                    style="color: #007bff;"></i></button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            <img src="img/ganaderia.jpg" alt="" width="100%" height="225">

                                            <div class="card-body">
                                                <h4 class="mb-0">Ganaderia</h4>
                                                <br>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a href="#"><button type="button"
                                                                class="btn btn-outline-primary">Ver más <i
                                                                    class="fas fa-arrow-right"
                                                                    style="color: #007bff;"></i></button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            <img src="img/desarrollo.jpg" alt="" width="100%" height="225">

                                            <div class="card-body">
                                                <h4 class="mb-0">Desarrollo Humano</h4>
                                                <br>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a href="#"><button type="button"
                                                                class="btn btn-outline-primary">Ver más <i
                                                                    class="fas fa-arrow-right"
                                                                    style="color: #007bff;"></i></button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card shadow-sm">
                                            <img src="img/deportes.jpg" alt="" width="100%" height="225">

                                            <div class="card-body">
                                                <h4 class="mb-0">Deportes</h4>
                                                <br>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="btn-group">
                                                        <a href="#"><button type="button"
                                                                class="btn btn-outline-primary">Ver más <i
                                                                    class="fas fa-arrow-right"
                                                                    style="color: #007bff;"></i></button></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /END ARTEAS TEMATICAS -->
                        

                        <%- include('componentes/footer.ejs'); %>

                            <%- include('componentes/script.ejs'); %>



    </body>

</html>