<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>

    <body>
        <header>
            <%- include('componentes/navBar.ejs'); %>

        </header>
        <br>
        <br>
        <br>
        <br>
        <section class="container marketing">
            <div class="container marketing">
                <div class="indice">
                    <a href="index.html">INICIO&nbsp;</a>
                    <a>/</a>
                    <a href="#">&nbsp;MUNICIPALIDAD</a>
                </div>
            </div>
        </section>
        <div class="container marketing">
            <div class="container marketing">
                <h2 class="pb-2 border-bottom">&nbsp;</h2>
                <section class="contenido-header">
                    <section class="textos-header me-5">
                        <div class="block-title underline">VISION</div>
                        <p>Somos una Institución de servicio, cuyo fin es mejorar la calidad de vida de la población de
                            San Pedro de Palco, brindando servicio de calidad, promoviendo la igualdad de oportunidades
                            para el desarrollo económico social y ambiental, administrando responsable y
                            transparentemente los recursos municipales.</p>
                    </section>
                    <img src="img/vision.jpg" alt="">
                </section>
            </div>
        </div>
        <div class="container marketing">
            <div class="container marketing">
                <h2 class="pb-2 border-bottom">&nbsp;</h2>
                <section class="contenido-header">
                    <img src="img/mision.jpg" alt="">
                    <section class="textos-header ms-5">
                        <div class="block-title underline">MISION</div>
                        <p>Somos una Institución de servicio, cuyo fin es mejorar la calidad de vida de la población de
                            San Pedro de Palco, brindando servicio de calidad, promoviendo la igualdad de oportunidades
                            para el desarrollo económico social y ambiental, administrando responsable y
                            transparentemente los recursos municipales.</p>
                    </section>
                </section>
            </div>
        </div>
        <div class="container marketing">
            <div class="container marketing">
                <h2 class="pb-2 border-bottom">&nbsp;</h2>
                <section class="contenido-header">
                    <section class="textos-header me-5">
                        <div class="block-title underline">RESEÑA HISTORICA</div>
                        <p>El Distrito de San Pedro de Palco fue creado por Decreto Ley N° 15091 el 08 de julio de 1964,
                            siendo como primer alcalde el señor Victor Raul Trejo Gavilan; como teniente alcalde Paulina
                            Amar Caquiamarca, como sindico de rentas el señor Justo Pastor Gavilan, como sindico de
                            Gastos don Santos Ore Gavilan, secretario registrador civil y vocal Serafín Zamora Munarrez,
                            como consejal y ultimo vocal Rufino Tanta Tenorio, sub Prefecto el señor Edilberto gavilan
                            amar.</p>
                    </section>
                    <img src="img/historia.jpg" alt="">
                </section>
            </div>
        </div>
        <div class="container marketing">
            <div class="contenedor">
                <h2 class="pb-2 border-bottom">&nbsp;</h2>
                <section class="contenido-header">
                    <img src="img/organigrama.jpg" alt="" width="500" height="500">
                    <section class="textos-header ms-5">
                        <div class="block-title underline">ORGANIGRAMA</div>
                        <p>Nuestro Organigrama Institucional de la Municipalidad Distrital De San Pedro De Palco</p>
                        <br>
                        <a href="organigrama.html"><button type="button" class="btn btn-outline-primary">Ver completo..
                                <i class="fas fa-arrow-right" style="color: #007bff;"></i></button></a>
                    </section>
                </section>
            </div>
        </div>
        <!--/STAR REGIDORES ETC  -->
        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-bottom">ALCALDE, REGIDORES Y FUNCIONARIOS</h2>
            <h4>NUESTRO EQUIPO</h4>
            <h6 class="pb-2 underline">ALCALDE</h6>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 ">
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Ing. Wilber Barrientos Flores</h6>
                    <p>Alcalde de la Municipalidad</p>
                </div>
            </div>
        </div>
        <div class="container px-4 py-5" id="featured-3">
            <h6 class="pb-2 underline">REGIDORES</h6>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Henry Erasmo Acco Gallegos</h6>
                    <p>Regidor</p>
                </div>
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Plimio Vilcacuri Sulla</h6>
                    <p>Regidor</p>
                </div>
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Evilia Nimia Poma Guerra</h6>
                    <p>Regidor</p>
                </div>
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Doris Santa Condori Caceres</h6>
                    <p>Regidor</p>
                </div>
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Neder Abilio Checllo Vilcacure</h6>
                    <p>Regidor</p>
                </div>
            </div>
        </div>
        <div class="container px-4 py-5" id="featured-3">
            <h6 class="pb-2 underline">FUNCIONARIOS</h6>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Lic. Fredy Cisneros Llallahui</h6>
                    <p>Gerente Municipal</p>
                </div>
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Ing. Yhony Huaripaucar Ruiz</h6>
                    <p>Sub Gerente de Infraestructura</p>
                </div>
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Karina Quispe Mendoza</h6>
                    <p>Jefa de Tesoreria</p>
                </div>
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Wilder Berna Pariona</h6>
                    <p>Jefe de Abastecimiento</p>
                </div>
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Edgar Aparicio Palomino</h6>
                    <p>Sub Gerente de Desarrollo Social</p>
                </div>
                <div class="feature col">
                    <div class="feature-icon">
                        <%- include('componentes/usuario_svg.ejs'); %>
                    </div>
                    <h6>Elizabeth Ana Gavilan Loayza</h6>
                    <p>Registrador civil</p>
                </div>
            </div>
        </div>


        <!-- /END REGIDORES ETC -->
        <!--/star ubicacion  -->
        <div class="container marketing">
            <div class="contenedor">
                <h2 class="pb-2 border-bottom">&nbsp;</h2>
                <section class="contenido-header">
                    <section class="textos-header">
                        <div class="block-title underline">UBICACION</div>
                        <br>
                        <p><strong> San Pedro De Palco, Lucanas, Ayacucho</strong></p>
                        <p></strong>Latitud: 14°24'43"S</strong></p>
                        <p></strong>Longitud: 74°39'3"O</strong></p>
                        <p></strong>Altura: 2513 msnm</strong></p>
                    </section>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d123721.41018298425!2d-74.53659630084621!3d-14.294338962991812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91139188ca9ee1d3%3A0x3eb02070b0869f22!2sSan%20Pedro%20de%20Palco%2C%2005780!5e0!3m2!1ses-419!2spe!4v1627230258200!5m2!1ses-419!2spe" width="600" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </section>
            </div>
        </div>
        <!-- /end ubicacion -->
        <!-- /STAR  -->

        <%- include('componentes/social_bar.ejs'); %>

            <!-- /END -->
            <!-- /STAR  -->

            <%- include('componentes/footer.ejs'); %>

                <!-- /END -->
                <!-- /STAR  -->

                <%- include('componentes/script.ejs'); %>

                    <!-- /END -->

    </body>

</html>