<!-- /star -->
<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>

    <body>
        <header>
            <%- include('componentes/navBar.ejs'); %>

        </header>
        <section class="container marketing">
            <div class="indice">
                <a href="index.html">INICIO&nbsp;</a>
                <a>/</a>
                <a href="#">&nbsp;NOTICIAS</a>
            </div>
        </section>
        <section class="container marketing">
            <h2 class="pb-2 border-bottom">&nbsp;</h2>
            <div class="container marketing">
                <div class="container col-xxl-10 px-5 py-5">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                        <div class="col-10 col-sm-8 col-lg-6">
                            <img src="img/noticia2.jpg" class="d-block mx-lg-auto img-fluid" alt="hemes" width="700"
                                height="500" loading="lazy">
                        </div>
                        <div class="col-lg-6">
                            <div class="block-title underline">FELIZ ANIVERSARIO SAN PEDRO DE PALCO</div>
                            <p class="lead">La Municipalidad Distrital de San Pedro de Palco,creado por Ley N° 15091del 08 de Julio de 1964 durante el Gobierno de Fernando Belaunde Terry. Por ello, en esta fecha de gran significación el Alcalde Ing. Wilber Barrientos Flores, Regidores y plana de trabajadores, expresamos un cordial y sincero agradecimiento a todas las instancias públicas que nos han hecho llegar sus mociones de saludo. Asimismo, a todas las autoridades Políticas y Sociales de nuestro distrito, que han participado en las diferentes actividades programadas por el LVII Aniversario de Creación Política.</br>
                                Este momento, es una fecha propicia para recordar y reconocer a los  ciudadanos que con esfuerzo y humildad construyeron este gran pueblo...  ¡Viva el Perú!  ¡Viva San Pedro de Palco!.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SOCIAL BAR -->

        <%- include('componentes/social_bar.ejs'); %>
            <!-- END SOCIA BAR -->

            <!-- /STAR  -->

            <%- include('componentes/footer.ejs'); %>

                <!-- /END -->
                <!-- /STAR  -->

                <%- include('componentes/script.ejs'); %>

                    <!-- /END -->
    </body>

</html>


<!-- /end -->