<!-- /star -->
<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>

    <body>
        <header>
            <%- include('componentes/navBar.ejs'); %>

        </header>
        <br>
        <br>
        <br>
        <br>
        <section class="container marketing">
            <div class="indice">
                <a href="index.html">INICIO&nbsp;</a>
                <a>/</a>
                <a href="#">&nbsp;NOTICIAS</a>
            </div>
        </section>
        <section class="container marketing">
            <h2 class="pb-2 border-bottom">&nbsp;</h2>
            <div class="container marketing">
                <div class="container col-xxl-10 px-5 py-5">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                        <div class="col-10 col-sm-8 col-lg-6">
                            <img src="img/noticia1.jpg" class="d-block mx-lg-auto img-fluid" alt="hemes" width="700"
                                height="500" loading="lazy">
                        </div>
                        <div class="col-lg-6">
                            <div class="block-title underline">RECONOCIMIENTO POR CUMPLIMIENTO DE META 5</div>
                            <p class="lead">El ministerio de Vivienda Construcción y saneamiento, a través del centro de
                                atención al ciudadano
                                CAC- Ayacucho expide el reconocimiento a la Municipalidad distrital de San Pedro de
                                Palco, por haber
                                cumplido la Meta 5 del programa de incentivos 2020 de manera satisfactoria, generando
                                acceso y
                                calidad en los servicios de Saneamiento como un derecho fundamental, asegurando la
                                calidad y
                                sostenibilidad del "agua segura para consumo Humano" en beneficio de las familias más
                                vulnerables.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SOCIAL BAR -->

        <%- include('componentes/social_bar.ejs'); %>
            <!-- END SOCIA BAR -->

            <!-- /STAR  -->

            <%- include('componentes/footer.ejs'); %>

                <!-- /END -->
                <!-- /STAR  -->

                <%- include('componentes/script.ejs'); %>

                    <!-- /END -->
    </body>

</html>


<!-- /end -->