<!-- /star -->
<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>

    <body>
        <header>
            <%- include('componentes/navBar.ejs'); %>

        </header>
        <section class="container marketing">
            <div class="indice">
                <a href="index.html">INICIO&nbsp;</a>
                <a>/</a>
                <a href="#">&nbsp;NOTICIAS</a>
            </div>
        </section>
        <section class="container marketing">
            <h2 class="pb-2 border-bottom">&nbsp;</h2>
            <div class="container marketing">
                <div class="container col-xxl-10 px-5 py-5">
                    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                        <div class="col-10 col-sm-8 col-lg-6">
                            <img src="img/noticia3.jpg" class="d-block mx-lg-auto img-fluid" alt="hemes" width="700"
                                height="500" loading="lazy">
                        </div>
                        <div class="col-lg-6">
                            <div class="block-title underline">SEGUIMOS TRABAJANDO POR TI</div>
                            <p class="lead">El gobierno Local de la Municipalidad distrital de San Pedro de Palco,  entrega bienes de  ayuda humanitaria a nivel distrital como: Colchones,Carpas, Calaminas, Frazadas, Camas personales, colchas, tinas,Valdes, platos, Vasos, Cucharas, Picos, palas,Barretas,Carretillas,Hachas... Los beneficiarios de esta ayuda,  son las familias pobres, pobres extremos  y adultos mayores.</br>
                                Cabe resaltar que estos bienes fueron donados por el Instituto Nacional de Defensa Civil INDECI gestionados a través de la Sub Gerencia de Desarrollo Social y Economico, en en concordancia con  el Decreto Supremo  N° 155-2020 PCM que contempla medidas complementarias  en el marco de la declaratoria de Estado de emergencia Nacional, por las graves circunstancias que afecta la vida de la Nación a consecuencia del brote del Covid_19.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SOCIAL BAR -->

        <%- include('componentes/social_bar.ejs'); %>
            <!-- END SOCIA BAR -->

            <!-- /STAR  -->

            <%- include('componentes/footer.ejs'); %>

                <!-- /END -->
                <!-- /STAR  -->

                <%- include('componentes/script.ejs'); %>

                    <!-- /END -->
    </body>

</html>

<!-- /end -->
