<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>

    <body>
        <header>
            <%- include('componentes/navBar.ejs'); %>

        </header>
        <section class="container marketing">
            <div class="container marketing">
                <div class="indice">
                    <a href="index.html">INICIO&nbsp;</a>
                    <a>/</a>
                    <a href="municipalidad.html">&nbsp;MUNICIPALIDAD</a>
                    <a>/</a>
                    <a href="#">&nbsp;ORGANIGRAMA</a>
                </div>
                <img src="./img/organigrama.jpg" alt="">
            </div>
        </section>

        <!-- SOCIAL BAR -->

        <%- include('componentes/social_bar.ejs'); %>
        <!-- END SOCIA BAR -->
        
        <!-- /STAR  -->
        
        <%- include('componentes/footer.ejs'); %>
        
        <!-- /END -->
        <!-- /STAR  -->
        
        <%- include('componentes/script.ejs'); %>
        
        <!-- /END -->
    </body>

</html>