<!-- new html -->
<!DOCTYPE html>
<html lang="es">

<%- include('componentes/head.ejs'); %>

    <body>
        <header>
            <%- include('componentes/navBar.ejs'); %>

        </header>
        <br>
        <br>
        <br>
        <br>
        <section class="container marketing">
            <div class="container marketing">
                <div class="indice">
                    <a href="index.html">INICIO&nbsp;</a>
                    <a>/</a>
                    <a href="convocatorias.html">&nbsp;CONVOCATORIA</a>
                    <a>/</a>
                    <a href="#">&nbsp;Proceso de Nombramiento</a>
                </div>
            </div>
        </section>
        <!-- /new espacio -->
        <main class="container">
            <section class="contenido-header_123">
                <section class="textos-header">
                    <h2 class="pb-2 border-bottom">&nbsp;</h2>
                    <div class="block-title underline">Proceso de Nombramiento</div>
                    <br>
                    <h5>PERSONAL ADMINISTRATIVO CONTRATADO BAJO EL RÉGIMEN LABORAL DEL DECRETO LEGISLATIVO N° 276</h3>
                        <h6>GENERALIDADES</h6>
                        <p>La Municipalidad Distrital de San Pedro De Palco, en el marco de lo dispuesto por la Ley N°
                            30879-Ley del Presupuesto del Sector Público para el año fiscal 2019, que en su centésima
                            vigésima novena disposición complementaria final, Autorízase excepcionalmente, durante el
                            año
                            fiscal 2019, el nombramiento del personal administrativo contratado bajo el régimen del
                            Decreto
                            Legislativo 276, Ley de Bases de la Carrera Administrativa y de Remuneraciones del Sector
                            Público, que a la fecha devigencia de la presente Ley ocupa plaza orgánica presupuestada por
                            un
                            periodo no menor de tres (3)años consecutivos o cuatro (4) años alternados, previa
                            verificación
                            del cumplimiento de los perfiles establecidos por la normatividad pertinente para cada
                            plaza,
                            siempre que la entidad no haya aprobado su Cuadro de Puestos de la Entidad en el marco de la
                            Ley
                            30057, Ley del Servicio Civil. El nombramientose efectúa de conformidad con la normatividad
                            vigente y se registra en el Aplicativo Informático de la Planilla Única de Pago del Sector
                            Público.<br>

                            Estando a la Resolución de Presidencia Ejecutiva N° 075-2019-SERVIR/PE, emitida por la
                            Autoridad
                            Nacional del Servicio Civil – SERVIR, el cual resuelve: Formalizar el acuerdo de consejo
                            directivo mediante el cual se aprueba el ”Lineamiento para el Nombramiento del Personal
                            Contratado por Servicios Personales en el Sector Público bajo el régimen del Decreto
                            Legislativo
                            N° 276, Ley de Bases de la Carrera Administrativa y de Remuneraciones del Sector Público” y
                            Convoca al Proceso de Nombramiento 2019 del Personal Administrativo Contratado que cumple
                            con
                            los requisitos exigidos en el numeral 3.5 del lineamiento; dando cumplimiento a lo
                            establecido
                            en la normatividad vigente difundimos su contenido.</p>
                </section>
            </section>
            <br>
            <br>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Convocatoria</th>
                            <th scope="col">R. Preliminares</th>
                            <th scope="col">Cuadro Final</th>
                            <th scope="col">Resolucion de Nombramiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                            <td><a href="#"><img src="img/file.svg" alt="" width="18em"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <br>
        <br>
        <!-- /new espacio -->


        <!-- SOCIAL BAR -->

        <%- include('componentes/social_bar.ejs'); %>
            <!-- END SOCIA BAR -->

            <!-- /STAR  -->

            <%- include('componentes/footer.ejs'); %>

                <!-- /END -->
                <!-- /STAR  -->

                <%- include('componentes/script.ejs'); %>

                    <!-- /END -->
    </body>

</html>
<!-- /end new html -->